<button
  class="text-gray-500 pl-6 mt-2 cursor-default h-[440px] w-[270px] flex"
  id="muteButton"
>
  <svg
    fill="currentColor"
    width="24px"
    height="24px"
    viewBox="0 0 106.06 106.06"
  >
    <g>
      <path
        d="M15.515,15.512C-5.172,36.199-5.17,69.857,15.517,90.547c20.682,20.685,54.34,20.685,75.028-0.005
        c20.686-20.685,20.684-54.341,0.002-75.023C69.857-5.172,36.199-5.172,15.515,15.512z M84.759,84.758
        c-17.494,17.493-45.963,17.495-63.456,0.003c-17.498-17.498-17.496-45.967,0-63.461C38.795,3.807,67.263,3.805,84.761,21.302
        C102.255,38.795,102.253,67.264,84.759,84.758z M41.826,47.244c-2.42,2.421-6.348,2.421-8.771-0.002c-2.42-2.42-2.42-6.348,0-8.769
        c2.422-2.421,6.35-2.421,8.77,0.001C44.246,40.896,44.246,44.824,41.826,47.244z M74.21,38.567c2.42,2.421,2.42,6.349,0,8.769
        c-2.425,2.423-6.353,2.423-8.771,0.002c-2.42-2.42-2.42-6.348,0.002-8.77C67.859,36.146,71.787,36.146,74.21,38.567z M62.88,70.617
        l-2.679,2.682l2.679,2.676c0.957,0.959,1.485,2.232,1.485,3.586c0,1.354-0.526,2.63-1.485,3.588c-1.916,1.918-5.254,1.92-7.175,0
        l-2.678-2.675l-2.676,2.675c-0.959,0.961-2.232,1.487-3.588,1.487c-1.354,0-2.627-0.528-3.586-1.487
        c-1.977-1.975-1.977-5.193,0-7.17l2.678-2.68l-2.68-2.68c-1.877-1.878-1.973-4.916-0.219-6.919
        c0.039-0.052,0.119-0.146,0.209-0.236c1.945-1.946,5.268-1.936,7.184-0.02l2.678,2.68l2.681-2.68
        c1.823-1.825,4.973-1.921,6.918-0.22c0.062,0.047,0.161,0.131,0.254,0.224c0.957,0.957,1.485,2.229,1.485,3.582
        C64.367,68.387,63.839,69.658,62.88,70.617z"
      ></path>
    </g>
  </svg>
</button>

<script>
  const video: HTMLVideoElement = document.getElementById(
    "video"
  ) as HTMLVideoElement;
  const muteButton: HTMLButtonElement = document.getElementById(
    "muteButton"
  ) as HTMLButtonElement;

  function toggleMute(): void {
    if (video) {
      video.muted = !video.muted;
      if (video.muted) {
        muteButton!.innerHTML = `
            <svg
            fill="currentColor"
            width="24px"
            height="24px"
            viewBox="0 0 106.06 106.06"
          >
            <g>
              <path
                d="M15.515,15.512C-5.172,36.199-5.17,69.857,15.517,90.547c20.682,20.685,54.34,20.685,75.028-0.005
            c20.686-20.685,20.684-54.341,0.002-75.023C69.857-5.172,36.199-5.172,15.515,15.512z M84.759,84.758
            c-17.494,17.493-45.963,17.495-63.456,0.003c-17.498-17.498-17.496-45.967,0-63.461C38.795,3.807,67.263,3.805,84.761,21.302
            C102.255,38.795,102.253,67.264,84.759,84.758z M41.826,47.244c-2.42,2.421-6.348,2.421-8.771-0.002c-2.42-2.42-2.42-6.348,0-8.769
            c2.422-2.421,6.35-2.421,8.77,0.001C44.246,40.896,44.246,44.824,41.826,47.244z M74.21,38.567c2.42,2.421,2.42,6.349,0,8.769
            c-2.425,2.423-6.353,2.423-8.771,0.002c-2.42-2.42-2.42-6.348,0.002-8.77C67.859,36.146,71.787,36.146,74.21,38.567z M62.88,70.617
            l-2.679,2.682l2.679,2.676c0.957,0.959,1.485,2.232,1.485,3.586c0,1.354-0.526,2.63-1.485,3.588c-1.916,1.918-5.254,1.92-7.175,0
            l-2.678-2.675l-2.676,2.675c-0.959,0.961-2.232,1.487-3.588,1.487c-1.354,0-2.627-0.528-3.586-1.487
            c-1.977-1.975-1.977-5.193,0-7.17l2.678-2.68l-2.68-2.68c-1.877-1.878-1.973-4.916-0.219-6.919
            c0.039-0.052,0.119-0.146,0.209-0.236c1.945-1.946,5.268-1.936,7.184-0.02l2.678,2.68l2.681-2.68
            c1.823-1.825,4.973-1.921,6.918-0.22c0.062,0.047,0.161,0.131,0.254,0.224c0.957,0.957,1.485,2.229,1.485,3.582
            C64.367,68.387,63.839,69.658,62.88,70.617z"
              ></path>
            </g>
          </svg>
            `;
      } else {
        muteButton!.innerHTML = `
            <svg
            fill="#e9e9e9"
            width="24px"
            height="24px"
            viewBox="0 0 106.059 106.059"
          >
            <g>
              <path
                d="M90.544,90.542c20.687-20.684,20.685-54.341,0.002-75.024C69.858-5.171,36.199-5.171,15.515,15.512
              C-5.173,36.199-5.171,69.858,15.517,90.546C36.199,111.23,69.858,111.23,90.544,90.542z M21.302,21.3
              C38.796,3.807,67.261,3.805,84.759,21.302c17.494,17.494,17.492,45.963-0.002,63.455c-17.494,17.494-45.96,17.496-63.455,0.003
              C3.804,67.262,3.806,38.794,21.302,21.3z M27,69.865c0,0-2.958-11.438,6.705-8.874c0,0,17.144,9.295,38.651,0
              c9.662-2.563,6.705,8.874,6.705,8.874c-5.522,16.959-26.031,15.579-26.031,15.579S32.521,86.824,27,69.865z M33.24,38.671
              c0-3.424,2.777-6.201,6.201-6.201c3.423,0,6.2,2.777,6.2,6.201c0,3.426-2.777,6.203-6.2,6.203
              C36.017,44.874,33.24,42.096,33.24,38.671z M61.357,38.671c0-3.424,2.779-6.201,6.203-6.201c3.423,0,6.2,2.777,6.2,6.201
              c0,3.426-2.776,6.203-6.2,6.203S61.357,42.096,61.357,38.671z"
              ></path>
            </g>
          </svg>
            `;
      }
    }
  }
  if (muteButton) {
    muteButton.addEventListener("click", toggleMute);
  }
</script>
