---
import IconReplay from "../icons/replay.astro";
---

<button
  class="absolute hidden bg-slate-400/50 top-8 left-24 p-4 rounded-full shadow-lg z-[9999px]"
  aria-label="replay video"
  id="replay"
>
  <IconReplay />
</button>
