---
import { info } from "@data";
import SocialSection from "@components/general/SocialSection.astro";
---

<footer class="bg-gradient-to-t to-transparent from-sky-950">
  <section
    class="container flex sm:flex-row flex-col justify-between items-center py-8"
  >
    <p class="text-light text-right my-8">
      Developed by <strong class="text-teal-300">Adelkis.Dev</strong>
    </p>
    <SocialSection />
  </section>
</footer>
