<header
  class="container flex items-center justify-between h-[80px] sm:h-[123px]"
>
  <a class="text-2xl text-light font-outfit flex items-baseline" href="/">
    <img class="w-6" src="/favicon.png" alt="adelkis logo" />
    <span class="pl-1"> delkis</span>
    <span class="text-teal-400 font-medium pl-1"> Dev</span>
  </a>
  <nav>
    <ul class="flex items-center">
      <li>
        <a class="p-4 text-light block text-lg" href="/projects">Proyectos</a>
      </li>
    </ul>
  </nav>
</header>
