---
import { IHeroProps } from "@types";
import Video from "./Video.astro";
import SocialSection from "@components/general/SocialSection.astro";
const { name, about } = Astro.props as IHeroProps;
---

<section class="bg-center w-full flex justify-between container my-16">
  <div>
    <h1>{name}</h1>
    <h2 class="text-2xl mb-8 text-blue">Full Stack Developer</h2>
    <p class="text-light text-lg text-balance">
      {about}
    </p>
    <div class="w-1/2 py-8">
      <SocialSection />
    </div>
  </div>

  <Video client:load />
</section>

<script></script>
